.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App nav {
  text-align: center;
  padding-bottom: 1em;
}


div.face {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 2em;
  padding: 1em;
  border: 2px solid white;
  border-radius: 25%;
  margin: 0em 0.5em 1em 0.5em;
}

div.dot1,
div.dot2,
div.dot3,
div.dot4,
div.dot5,
div.dot6,
div.dot7 {
  position: absolute;
  display: inline-block;
  width: .7em;
  height: .7em;
  border-radius: 50%;
  background-color: white;
}

div.dot1 {
  top: 0.25em;
  left: 0.25em;
}

div.dot2 {
  top: 1.125em;
  left: 0.25em;
}

div.dot3 {
  top: 2em;
  left: 0.25em;
}

div.dot4 {
  top: 0.25em;
  left: 2em;
}

div.dot5 {
  top: 1.125em;
  left: 2em;
}

div.dot6 {
  top: 2em;
  left: 2em;
}

div.dot7 {
  top: 1.125em;
  left: 1.125em;
}

table.scores th,
table.scores td {
  border: 1px solid gray;
}

table.scores tr th:first-child {
  text-align: left;
}

table.scores tr.head th {
  padding: 10px 0px;
  text-transform: uppercase;
}

table.scores tr.foot th {
  padding: 10px 0px;
  text-transform: uppercase;
}

table.scores tbody th:first-child {
  width: 30em;
  padding-left: 10px;
}

table.scores tbody td {
  width: 10em;
  padding: 5px 0px;
  position: relative;
}

span.actual {
  color: greenyellow;
}

span.maybe {
  color: orange;
}

span.maybe i {
  display: none;
}

span.maybe:hover i {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: default;
}