.App {
  text-align: center;

  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  flex-wrap: nowrap;
  align-content: stretch;
}

.header h1 {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  margin: 0.25em 0em;
}

.header nav {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  width: 200px;
  text-align: left;
  align-content: baseline;
}

.App nav {
  padding-bottom: 1em;
}


div.face {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 2em;
  padding: 1em;
  border: 2px solid white;
  border-radius: 25%;
  margin: 0.5em;
  box-shadow: -3px 3px 3px 0px rgba(255, 255, 255, 0.5) inset;
  transform: rotate(-10deg);
}

div.rolling {
  transform: rotate(270deg);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

div.hold {
  border-color: greenyellow;
  transform: rotate(0deg);
}

div.hold div.dot1,
div.hold div.dot2,
div.hold div.dot3,
div.hold div.dot4,
div.hold div.dot5,
div.hold div.dot6,
div.hold div.dot7 {
  background-color: greenyellow;
}

div.dot1,
div.dot2,
div.dot3,
div.dot4,
div.dot5,
div.dot6,
div.dot7 {
  position: absolute;
  display: inline-block;
  width: .7em;
  height: .7em;
  border-radius: 50%;
  background-color: white;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

div.dot1 {
  top: 0.25em;
  left: 0.25em;
}

div.dot2 {
  top: 1.125em;
  left: 0.25em;
}

div.dot3 {
  top: 2em;
  left: 0.25em;
}

div.dot4 {
  top: 0.25em;
  left: 2em;
}

div.dot5 {
  top: 1.125em;
  left: 2em;
}

div.dot6 {
  top: 2em;
  left: 2em;
}

div.dot7 {
  top: 1.125em;
  left: 1.125em;
}

table.scores th,
table.scores td {
  border: 1px solid gray;
}

table.scores tr th:first-child {
  text-align: left;
}

.head th {
  padding: 10px 0px;
  text-transform: uppercase;
}

.foot th {
  padding: 10px 0px;
  text-transform: uppercase;
}

table.scores tbody th:first-child {
  width: 30em;
  padding-left: 10px;
}

table.scores tbody td {
  padding: 5px 0px;
  position: relative;
}

td.actual {
  color: greenyellow;
}

td.maybe {
  color: orange;
}

td.maybe i {
  display: none;
}

td.maybe:hover i {
  display: inline-block;
  position: absolute;
  left: 0.5em;
  top: 0.25em;
  cursor: default;
}

col.player {
  width: 10em;
}

col.current {
  background-color: #253115;
}

col.winner {
  background-color: #004466;
}

col.probs {
  width: 3em;
  font-size: 0.8em;
}

col.forfeit {
  width: 3em;
}

col.hint {
  width: 5em;
  font-size: 0.8em;
}